/* ---------
    FONTS
---------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* --------------
   COMMON-STYLES 
--------------- */


body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


/* --------------
   HEADER-STYLES 
 ---------------- */


 .head-container{
     background-color: #2D25A0;
     width: 100%;
     height: 677px;
 }
.nav-bar{
    display: flex;
    justify-content: space-between;
}
.nav-bar .nav-title{
    margin-left: 156px;
    margin-top: 42px;
}
.nav-bar .nav-icon{
    margin-right: 124px;
    margin-top: 42px;
}
.nav-bar span a{
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 36px;
}
.nav-icon .login-button{
    background-color: #E02C6D;
    border: none;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    padding: 10px 24px;
    margin-top: 42px;
}
.nav-icon .login-button span{
    margin-left: 8px;
}
.header-section{
    display: flex;
}
.header-details, .header-image{
    width: 50%;
}
.header-details{
    margin-left: 156px;
    margin-top: 78px;
}
.header-section .header-details h1{
    color: #FFFFFF;
    font-size: 64px;
    font-weight: 700;
}
.header-details .link-button{
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
    border: none;
    padding: 10px 24px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    margin-bottom: 169px;
    margin-top: 27px;
}
.header-details .link-button span{
    margin-right: 8px;
}
 .header-section .header-image img{
     width: 556.01px;
     height: 438px;
     margin: 68px 111px 100px 0;
 }
.head-container:hover .header-image img{
    transform: scale(1.2) rotate(30deg);
    transition: transform 4s;
}

 /* ------------------------
         MAIN-STYLES
 ------------------------ */


main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
 .container{
    width: 1050px;
    margin-top: 70px;
 }
 .players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
 }
 .player{
    width: 330px;
    height: 574px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
 }
 .player-image, .player-info{
     margin: 15px;
     
 }
 .player .player-info{
    margin-bottom: 33px;
 }
 .player-info .player-details{
     font-size: 16px;
     font-weight: 400;
     color: #6C6C6C;
 }
 .player-info .player-name{
     font-size: 28px;
     font-weight: 700;
     color: #18191F;
 }
 .player .player-image img{
     width: 300px;
     height: 256px;
 }

/* -----------------------
      LOWER-MIDDLE_STYLES
   ---------------------- */

.live-match{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
}
.live-match-info{
    margin-top: 224px;
    margin-left: 146px;
    padding-right: 33px;
}
.live-match-info .live-match-details{
    font-size: 16px;
    color: #6C6C6C;
    font-weight: 400;
}
.live-match-info .live-button{
    padding: 10px 24px;
    background-color: #E02C6D;
    border: none;
    width: 172px;
    height: 44px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
}
.live-match-info .live-button span{
    margin-right: 8px;
}
.live-match-info{
    width: 40%;
}
.live-match-thumbnail{
    width: 60%;
}
.live-match-info .live-match-title{
    font-size: 48px;
    font-weight: 700;
    color: #0A0826;
}

.live-match .live-match-thumbnail img{
       width: 567px;
       height: 427px;
       margin-top: 165px;
       margin-right: 96px;
       padding-left: 33px;
   }

/* ---------------------------
    SPONSORED-SECTION-STYLES
    -------------------------- */

hr{
    margin-top: 80px;
    width: 80%;
    border: 1px solid #D1D1D1;
}
.sponsored .sponsored-title{
    font-size: 30px;
    color: #0A0826;
    font-weight: 600;
    text-align: center;
}
.sponsored-brand{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 260px;
    grid-row-gap: 20px;
}
.sponsored-brand a img{
    width: 140px;
    height: 94px;
}


/* --------------------------
    FOOTBALL-WORLD-STYLES
    ------------------------- */

.football-world-container{
    background-color: #2D25A0;
    width: 100%;
    height: 420px;
    margin-top: 80px;
    padding-bottom: 40px;
}
.football-world{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    
}
.football-world-container .fifa-world{
    font-size: 35px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
}
.football-world .world-cup img{
    width: 140px;
    height: 327px;
    margin-left: 30px;
}
.football-world .fifa, .events, .rankings, .media{
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 30px;
}
.football-world .fifa, .events, .rankings, .media, a, h4{
    color: #FFFFFF;
    text-decoration: none;
}
.football-world a:hover{
    text-decoration: underline;
    transition: 0.1s;
}
   /* ----------------------
         SOCIAL-LINKS-STYLES
      ----------------------- */

.footer-section img{
    width: 484px;
    height: 110px;
    text-align: center;
    margin-top: 80px;
}
.social-links{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.social-links a{
    margin-right: 14px;
    font-size: 20px;
    color: #969BAB;
    font-weight: 700;
}


/* -------------------
      FOOTER-STYLES
    ------------------- */

footer .copyright{
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    text-align: center;
    margin-bottom: 63px;
    margin-top: 0;
}


/* ---------------------
       MEDIA-QUERIES
     ------------------- */
@media only screen and (max-width: 688px){

    /* --------------------------
        NAV AND HEADER SECTION 
        ------------------------ */

.head-container{
    background-color: #2D25A0;
    width: 100%;
    height: 1140px;
}
    nav-bar{
   display: flex;
   justify-content: space-between;
   flex-direction: column;
}
.nav-title{
display: flex;
flex-direction: column;
}
.header-section{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}
.header-details, .header-image{
   width: 100%;
}
.header-section .header-details h1{
   color: #FFFFFF;
   font-size: 24px;
   font-weight: 700;
}

.head-container:hover .header-image img{
   transform: scale(1.2) rotate(30deg);
   transition: transform 4s;
}
       
    /* ------------------
          MAIN-SECTION 
        -----------------*/

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    width: 100%;
}
.players{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 40px;
}
         
        
    
    /* ------------------------
     LOWER-MIDDLE-SECTION
         ------------------------ */
     
         
.live-match{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.live-match-info .live-match-details{
    font-size: 16px;
    color: #6C6C6C;
    font-weight: 400;
}
.live-match-info button{
    padding: 10px 24px;
    background-color: #E02C6D;
    border: none;
    width: 172px;
    height: 44px;
}
.live-match-info button a{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
}
.live-match-info button a span{
    margin-right: 8px;
}
.live-match-info{
    width: 70%;
    padding-right: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.live-match-thumbnail{
    width: 100%;
}
.live-match-info .live-match-title{
    font-size: 48px;
    font-weight: 700;
    color: #0A0826;
}

.live-match .live-match-thumbnail img{
       width: 328px;
       height: 248px;
       margin-left: 60px;
   }


    /* ---------------------
     SPONSORED-SECTION
         ------------------- */

hr{
    margin-top: 80px;
    width: 100%;
    border: 1px solid #D1D1D1;
}
.sponsored .sponsored-title{
    font-size: 30px;
    color: #0A0826;
    font-weight: 600;
    text-align: center;
}
.sponsored-brand{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 60px;
}
        
        
    
         
    /* ---------------
         FIFA WORLD
         -------------- */
      
.football-world-container{
    background-color: #2D25A0;
    width: 100%;
    height: 1280px;
    margin-top: 80px;
    padding-bottom: 40px;
}
.football-world{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
    margin-left: 60px;
    
}
/* ----------------------
        SOCIAL-ICONS
    --------------------- */

.footer-section img{
    width: 80%;
    margin-left: 20px;
}
.social-links{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.social-links a{
    margin-right: 14px;
    font-size: 20px;
    color: #969BAB;
    font-weight: 700;
}
       
}